#char1 {
    width: 5%;
    position: absolute;
    left: 94%;
    top: 40%;
}

#letter {
    width: 200px;
    position: absolute;
    left: 5%;
    top: 40%;
}

h1#blank {
    position: fixed;
    left: 40%;
    font-size: 100px;
}